

/* Showcase
-------------*/

#awOnePageButton .view-slide
{
	display: none;
}

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */
.showcase-load
{
	height: 470px; /* Same as showcase javascript option */
	overflow: hidden;
}

/* Container when content is shown in slider */
.showcase
{
	position: relative;
	margin: auto;
}
	
	/* Navigation arrows */
	.showcase-arrow-previous
	{
		position: absolute;
		background: url('../images/arrows.png');
		width: 33px;
		height: 33px;
		top: 141px;
		right: 40px;
		cursor: pointer;
		z-index: 3;
	}
	
	.showcase-arrow-next
	{
		position: absolute;
		background: url('../images/arrows.png');
		width: 33px;
		height: 33px;
		top: 141px;
		right: 20px;
		cursor: pointer;
		z-index: 3;
	}
	
	
	.showcase-arrow-previous:hover
	{
		background-position: 0px -34px;
	}
	
	.showcase-arrow-next
	{
		background-position: -34px 0;
	}
	
	.showcase-arrow-next:hover
	{
		background-position: -34px -34px;
	}
	
	/* Content */
	.showcase-content
	{
		background-color: white;
		text-align: center;
	}
		
		.showcase-content-wrapper
		{
			text-align: center;
			height: 282px;
			width: 875px;
			display: table-cell;
			vertical-align: middle;
		}
		
		
	/* Button Wrapper */
	.showcase-button-wrapper
	{
		clear: both;
		margin-top: 10px;
		text-align: center;
	}
	
		.showcase-button-wrapper span
		{
			margin-right: 3px;
			padding: 2px 5px 0px 5px;
			cursor: pointer;
			font-size: 12px;
			color: #444444;
		}
	
		.showcase-button-wrapper span.active
		{
			color: #fff;
		}
		
			/* Subsidiaries Navigation arrows */
	#sub_showcase .showcase-arrow-previous
	{
		position: absolute;
		background: url('../images/arrows.png');
		width: 33px;
		height: 33px;
		top: 141px;
		left: 0px;
		cursor: pointer;
		z-index: 3;
	}
	
	#sub_showcase .showcase-arrow-next
	{
		position: absolute;
		background: url('../images/arrows.png');
		width: 33px;
		height: 33px;
		top: 141px;
		right: 0px;
		cursor: pointer;
		z-index: 3;
	}
	
	
	#sub_showcase .showcase-arrow-previous:hover
	{
		background-position: 0px -34px;
	}
	
	#sub_showcase .showcase-arrow-next
	{
		background-position: -34px 0;
	}
	
	#sub_showcase .showcase-arrow-next:hover
	{
		background-position: -34px -34px;
	}
	
	